*{
    font-size: medium;
  }
    .masses{
      margin-left: 400px;
    }
    /* a {
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    } */
    /* Footer */
    .large-buttons {
      text-align: center;
      margin-top: 20px; /* Adjust the margin to position the buttons vertically */
    }
    .large-button:hover {
      background-color: #505d6b79; /* Change background color on hover */
      transform: scale(1.1); /* Scale up the button on hover */
      transition: background-color 0.3s ease, transform 0.2s ease; /* Reapply transition */
    }
    
    .large-button {
      display: inline-block;
      padding: 20px 40px; /* Adjust the padding to control button size */
      margin: 10px; /* Adjust the margin to separate the buttons */
      background-color: #007bff; /* Button background color */
      color: #fff; /* Button text color */
      text-decoration: none;
      font-size: 24px; /* Adjust the font size */
      border-radius: 8px; /* Rounded corners */
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;  }
    
    /* Add this CSS to your Home.css file */
  
  /* ... (your existing styles) */
  
  /* Add or modify these CSS rules in your "Home.css" file */
  
  /* Style for the game cards container */
  .game-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center-align the game cards horizontally */
    gap: 20px; /* Add some spacing between game cards */
  }
  
  /* Style for each game card */
  .game-card {
    margin-left: 20%;
    width: 300px; /* Set a fixed width for each game card */
    border: 1px solid rgba(69, 196, 84, 0.755);
    padding: 20px;
    text-align: center;
    background-color: rgba(40, 32, 32, 0.405);
    transition: transform 0.3s ease; /* Add a hover effect */
    margin: 75px; /* Add margin to space out game cards */
  }
  
  .game-card:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  
  /* Style for game card elements (image, title, description) */
  .game-image {
    max-width: 100%;
    height: auto;
  }
  
  .game-title {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .game-description {
    font-size: 14px;
    color: #888;
  }
  
  
  .an-bd {
    font-size: 2em;
    text-align: center;
    position: relative;
    margin-top: 2em;
  }
  
  a {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  /* Footer */
  #footer {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    text-align: center;
  }
  #footer .top {
    padding: 1em;
  }
  #footer .middle {
    align-items: center;
    /* background: blue; */
    padding: 0.5em;
  }
  #footer .bottom {
    /* background: green; */
    padding: 1em;
  }
  #footer .quick-links {
    /* short */
    /* long */
    display: inline-table;
    height: 10%;
  
  }
  #footer .quick-links ul {
    list-style-type: none;
    display: inline-block;
  }
  #footer .quick-links li {
    text-align: left;
    margin: 0.4em;
    transition: all 0.3s ease;
  }
  
  #footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  #footer li:hover {
    transform: translate(4px) scale(1.1, 1.2);
    opacity: 0.7;
  }
  #footer a:active {
    color: rgb(249, 247, 247);
  }
  #footer h5 {
    color: rgb(247, 246, 246);
    font-size: 1.1em;
    margin: 0.3em;
    margin-top: 1em;
    margin-left: 0;
  }
  
  #footer .so-med {
    height: 2em;
    width: 2em;
    margin: 0.3em;
    background-image:"https://wallpapers.com/images/hd/alphabets-with-butterflies-and-bees-f24qisvsdgmk7l4m.jpg" ;
    display: inline-block;
    transition: all 0.4s ease;
  }
  #footer .so-med:hover {
    transform: translate(1px, 0px) scale(1.05, 1.05);
    opacity: 0.7;
  }
  
  /* begning of the css */
  * {
    padding: 0px;
    margin: 0px;
  }
  
  /* for the logo */
  .fnt:hover {
    color: rgb(234, 137, 234);
    font-family: cursive;
    
  }
  
  /*parrent: it includes nav+body+footer and etc */
  .parrent {
    color: rgb(251, 250, 250);
    margin: 0px;
    padding: 0px;
    
    position: relative;
  }
  
  /* main body styles */
  .align {
    position: relative;
    padding-top: 3.7em;
    min-height: 92vh;
  }
  .an-bd{
    align-items: left;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }
  h6{
    font-family: cursive;
  }
  
  /* navbar session */
  
  /* short nav bar css */
  .nav-st {
    z-index: 5;
    background: black;
    position: fixed;
    width: 100%;
    min-width: 200px;
  }
  .nav-st .brand,
  .tg-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
    /* display: inline-block; */
    min-height: 1em;
  }
  .foots
  {
    color: aliceblue;
  }
  .nav-st .brand {
    color: rgb(255, 255, 255);
    /* background: #ffae51; */
    background: white;
    float: right;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.4em;
    margin-right: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-weight: inherit;
    border-radius: 0em 0.9em 0em 0.9em;
    border-top: 0.03em solid yellow;
    border-left: 0.04em solid yellow;
    border-right: 0.05em solid yellow;
    border-bottom: 0.06em solid yellow;
  }
  #short {
    padding: 0em !important;
    margin: -0.2em;
    margin-bottom: -0.3em;
    margin-top: 0em;
  }
  .nav-st ul {
    background: black;
    position: relative;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    align-items: center;
    list-style-type: none;
    transition: 1s height ease, 0.8s padding ease, 1s background ease-in;
  }
  .nav-st li {
    font-size: 1em;
    text-align: center;
    margin: 0.6em auto;
    width: 80%;
    opacity: 0;
    color: transparent;
    transition: all 0.5s ease, background 0.1s ease;
  }
  .nav-st .tg-btn {
    margin-top: 0.2em;
    margin-bottom: 0em;
    font-size: 20px;
    padding: 0.45em;
    width: 1.4em;
    height: 1.4em;
  }
  .nav-st a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  
  .tg-btn-top {
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 0.2em;
    border-bottom: 0.15em solid white;
    transition: 0.5s ease;
  }
  
  .tg-btn-middle {
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 0.6em;
    border-bottom: 0.15em solid white;
    transition: 0.5s ease;
  }
  
  .tg-btn-bottom {
    padding: 0px;
    position: absolute;
    width: 100%;
    top: 1em;
    border-bottom: 0.15em solid white;
    transition: 0.5s ease;
  }
  .relative {
    position: relative;
  }
  
  #expand-toggle {
    display: none;
  }
  /* Style the button */
  #expand-btn {
    display: inline-block;
    background-color: none;
    height: 1.4em;
    padding: 0px;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  #expand-btn:hover {
    background: rgba(240, 234, 234, 0.5);
  }
  #expand-toggle:checked ~ * .tg-btn-top {
    padding: 0px;
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 0.6em;
    transform: rotate(-45deg);
    z-index: 2;
  }
  
  #expand-toggle:checked ~ * .tg-btn-middle {
    padding: 0px;
    position: absolute;
    top: 0.6em;
    width: 100%;
    transform: rotate(45deg);
    z-index: 2;
  }
  
  #expand-toggle:checked ~ * .tg-btn-bottom {
    padding: 0px;
    position: absolute;
    top: 0.6em;
    width: 100%;
    transform: rotate(45deg);
    z-index: 2;
  }
  
  #expand-toggle:checked ~ * ul {
    height: 90vh;
    padding-top: 1em;
    padding-bottom: 0.5em;
    overflow: visible;
  }
  #expand-toggle:checked ~ * li {
    border-bottom: 0.1em groove pink;
    opacity: 1;
    /* background:green; */
    color: pink;
    height: auto;
    padding: 0.6em;
    transition-delay: 0.1s;
  }
  
  #expand-toggle:checked ~ * li:hover {
    transition-duration: 0s;
    opacity: 0.6;
  }
  
  .nav-st .brand:hover {
    opacity: 0.8;
  }
  
  /* long nav bar */
  
  .nav-lg {
    z-index: 5;
    background: rgba(7, 6, 6, 0.801);
    position: fixed;
    width: 100%;
    min-width: 200px;
  }
  .nav-lg .brand {
    margin-left: 0.5em;
    margin-right: 0.5em;
    
  }
  .nav-lg .brand {
    color: rgb(243, 234, 234);
    /* background: #ffae51; */
   
    float: left;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.4em;
    margin-right: 0.6em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-weight: bold;
  
  }
  .nav-lg ul {
    float: right;
    background: rgba(22, 18, 18, 0.078);
    position: relative;
    list-style-type: none;
  }
  .nav-lg li {
    float: left;
    display: inline;
    padding: 1em;
  }
  .nav-lg a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  .nav-lg li:hover {
    opacity: 0.5;
  }
  
  /* media query */
  
  @media (max-width: 411px) {
    #long {
      display: none;
    }
  }
  
  @media (min-width: 412px) {
    #short {
      display: none;
    }
  }
  
  @media (max-width: 1025px) {
    .nav-lg {
      display: none;
    }
  }
  @media (min-width: 1026px) {
    .nav-st {
      display: none;
    }
  }
  
  /* ----------------
  Responsive
   -------------------*/
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1176px;
    }
    #footer .quick-links {
      margin-left: 6em;
      margin-right: 6em;
    }
  }
  
  /* Medium screen : 992px. */
  
  @media only screen and (min-width: 1200px) and (max-width: 1360px) {
    #footer .quick-links {
      margin-left: 4em;
      margin-right: 4em;
    }
  }
  
  /* Medium screen : 992px. */
  
  @media only scr3en and (min-width: 992px) and (max-width: 1199px) {
    #footer .quic3-links {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
  
  /* Tablet :768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #footer .quick-links {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
  
  /* Large Mobile :480px. */
  
  @media only screen and (max-width: 767px) {
  }
  
  /* Small Mobile :320px. */
  
  @media only screen and (max-width: 479px) {
    #footer .quick-links {
      display: flow-root;
  }
  }