* {
    box-sizing: border-box;
  }
  
  .eterms {
    margin-top: 7%;
    cursor: pointer;
  }
  
  .eterms .wrap {
    width: 95%;
    margin: 5px auto;
    max-width: 1200px;
    font-weight: 100;
  }
  
  .eterms .wrap h1 {
    font-weight: 100;
  }
  
  .eterms h3 {
    font-size: large;
    text-transform: uppercase;
    margin-left: 0;
    padding: 10px;
    color: #f08080; /* Bright color for headings, e.g., Light Coral */
  }
  
  .eterms .terms {
    margin-top: 20px;
    height: 450px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* White text color */
  }
  
  .eterms .terms p {
    line-height: 25px;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  